<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acelerometro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acelerometro</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item><span><b>Alpha: </b> {{rotAlpha}}</span></ion-item>
      <ion-item><span><b>Beta: </b> {{rotBeta}}</span></ion-item>
      <ion-item><span><b>Gamma: </b> {{rotGamma}}</span></ion-item>
    </ion-list>
    <ion-button (click)="getAcelerometro()">Ativar Acelerometro</ion-button>
  </div>
</ion-content>
